'.text.html .source.jade .meta.tag:not(.entity.other.attribute-name, .punctuation.definition.tag.begin, .entity.name.tag, .string, .invalid.illegal.incomplete.html)':
  'editor':
    'completions': [
      'famsca'
      'fambox'
      'famjsca'
      'famjbox'
    ]