'.text.html .meta.tag:not(.entity.other.attribute-name, .punctuation.definition.tag.begin, .source, .entity.name.tag, .string, .invalid.illegal.incomplete.html)':
  'editor':
    'completions': [
      'famsca'
      'fambox'
    ]
