'.source.js':
  'editor':
    'completions': [
        'Context'
        'Engine'
        'EventEmitter'
        'EventHandler'
        'OptionsManager'
        'Modifier'
        'RenderNode'
        'Scene'
        'Surface'
        'Transform'
        'View'
        'ViewSequence'

        'EventArbiter'
        'EventFilter'
        'EventMapper'

        'FastClick'
        'GenericSync'
        'MouseSync'
        'PinchSync'
        'RotateSync'
        'ScaleSync'
        'ScrollSync'
        'TouchSync'
        'TouchTracker'
        'TwoFingerSync'

        'Matrix'
        'Random'
        'Quaternion'
        'Vector'

        'Draggable'
        'Lift'
        'ModifierChain'
        'StateModifier'

        'CanvasSurface'
        'ContainerSurface'
        'ImageSurface'
        'InputSurface'
        'SubmitInputSurface'
        'TextareaSurface'
        'VideoSurface'

        'CachedMap'
        'Easing'
        'MultipleTransition'
        'SnapTransition'
        'SpringTransition'
        'Transitionable'
        'TransitionableTransform'
        'TweenTransition'
        'WallTransition'

        'KeyCodes'
        'Timer'
        'Utility'

        'Deck'
        'EdgeSwapper'
        'Flipper'
        'GridLayout'
        'HeaderFooterLayout'
        'Lightbox'
        'RenderController'
        'ScrollContainer'
        'Scroller'
        'Scrollview'
        'SequentialLayout'

        'NavigationBar'
        'TabBar'
        'ToggleButton'
		
		'click'
		'mousedown'
		'mousemove'
		'mouseup'
		'mouseover'
		'mouseout'
		'touchstart'
		'touchmove'
		'touchend'
		'touchcancel'
		'keydown'
		'keyup'
		'keypress'
    ]
