'.source.js':
  'editor':
    'completions': [
        'Context'
        'Engine'
        'EventEmitter'
        'EventHandler'
        'OptionsManager'
        'Modifier'
        'RenderNode'
        'Scene'
        'Surface'
        'Transform'
        'View'
        'ViewSequence'

        'EventArbiter'
        'EventFilter'
        'EventMapper'

        'FastClick'
        'GenericSync'
        'MouseSync'
        'PinchSync'
        'RotateSync'
        'ScaleSync'
        'ScrollSync'
        'TouchSync'
        'TouchTracker'
        'TwoFingerSync'

        'Matrix'
        'Random'
        'Quaternion'
        'Vector'

        'Draggable'
        'Lift'
        'ModifierChain'
        'StateModifier'

        'CanvasSurface'
        'ContainerSurface'
        'ImageSurface'
        'InputSurface'
        'SubmitInputSurface'
        'TextareaSurface'
        'VideoSurface'

        'CachedMap'
        'Easing'
        'MultipleTransition'
        'SnapTransition'
        'SpringTransition'
        'Transitionable'
        'TransitionableTransform'
        'TweenTransition'
        'WallTransition'

        'KeyCodes'
        'Timer'
        'Utility'

        'Deck'
        'EdgeSwapper'
        'Flipper'
        'GridLayout'
        'HeaderFooterLayout'
        'Lightbox'
        'RenderController'
        'ScrollContainer'
        'Scroller'
        'Scrollview'
        'SequentialLayout'

        'NavigationBar'
        'TabBar'
        'ToggleButton'
		
		'click'
		'mousedown'
		'mousemove'
		'mouseup'
		'mouseover'
		'mouseout'
		'touchstart'
		'touchmove'
		'touchend'
		'touchcancel'
		'keydown'
		'keyup'
		'keypress'
		
		'inQuad'
		'outQuad'
		'inOutQuad'
		'inCubic'
		'outCubic'
		'inOutCubic'
		'inQuart'
		'outQuart'
		'inOutQuart'
		'inQuint'
		'outQuint'
		'inOutQuint'
		'inSine'
		'outSine'
		'inOutSine'
		'inExpo'
		'outExpo'
		'inOutExpo'
		'inCirc'
		'outCirc'
		'inOutCirc'
		'inElastic'
		'outElastic'
		'inOutElastic'
		'inBack'
		'outBack'
		'inOutBack'
		'inBounce'
		'outBounce'
		'inOutBounce'
		
		'famvengine'
		'famvview'
		'famvsurface'
		'famvimagesurface'
		'famvinputsurface'
		'famvstatemodifier'
		'famvmodifier'
		'famvscene'
		'famvrendernode'
		'famvtransform'
		'famvtransitionable'
		'famvhflay'
		'famvgridlay'
		'famvflexlay'
		'famvseqlay'
		'famvflipper'
		'famvdeck'
		'famvgenericsync'
		'famvmousesync'
		'famvtouchsync'
		'famvscrollsync'
		'famgenericsync'
		'famnsurface'
		'famnimagesurface'
		'famninputsurface'
		'famnstatemodifier'
		'famnhflay'
		'famngridlay'
		'famnflexlay'
		'famnseqlay'
		'famndeck'
		'famnflipper'
		'famnrendernode'
		'famtinterval'
		'famttimeout'
		'famtevery'
		'famtafter'
		'famkeycodes'
		'famtransition'
		'fameswipe'
    ]
